@page "/fetchdata"

@using PizzaApp.Data


<h1>Welcome to the airport. We serve pizzas and plane tickets. </h1>

<p>Please select an airport to ship your pizzas</p>



    <table class="table">
        <thead>
            <tr>
                <th>Airport</th>
                <th>Location</th>
                <th>Destination Airport</th>
                <th>Estimated time of trip</th>
            </tr>
        </thead>
        <tbody>
            
                <tr>
                    <td><a href="https://www.airport-houston.com/">George Bush Intercontinental Airport</a></td>
                    <td>Houston, Texas</td>
                    <td><a href="https://www.jfkairport.com/">John F. Kennedy Airport, Queens, New York</a></td>
                    <td>Time varies</td>
                </tr>

                <tr>
                    <td><a href="https://www.flysfo.com/"> San Francisco International Airport</a></td>
                    <td>San Francisco, California</td>
                    <td><a href="https://www.osaka-airport.co.jp/en/">Osaka International Airport, Japan</a></td>
                    <td>Roughly 12 hours</td>
                </tr>

                <tr>
                    <td><a href="https://www.bud.hu/en">Budapest Airport</a></td>
                    <td>Budapest, Hungary</td>
                    <td><a href="https://www.aicm.com.mx/en/">Mexico City International Airport</a></td>
                    <td>Time varies</td>
                </tr>



            
        </tbody>
    </table>



